<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/polyclinic</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12345678</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">false</property>

       <!-- <mapping class="condorcet.Models.Entities.Flight" />-->
        <mapping class="model.User" />
        <mapping class="model.Person" />
        <mapping class="model.Admin" />
        <mapping class="model.Doctor" />
        <mapping class="model.Address" />
        <mapping class="model.Patient" />
        <mapping class="model.Disease" />
        <!--<mapping class="condorcet.Models.Entities.UserMark" />
        <mapping class="condorcet.Models.Entities.Passenger" />
        <mapping class="condorcet.Models.Entities.PersonData" />
        <mapping class="condorcet.Models.Entities.Aircraft" />
        <mapping class="condorcet.Models.Entities.Route" />-->

    </session-factory>

</hibernate-configuration>